<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaselineTypeDiscovery" version="1.1.3" targetFramework="net48" />
  <package id="Lamar" version="8.0.0" targetFramework="net48" />
  <package id="LamarCodeGeneration" version="5.4.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>